<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url"           content="http://tiago-lira.github.io" />
  <meta property="og:type"          content="blog" />
  <meta property="og:title"         content="Tiago Lira's Personal blog" />
  <meta property="og:description"   content="Blog about tech" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- CSS files -->
  <link rel="stylesheet" href="{{ site.url }}/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/main.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.url }}" />
</head>
